Installed Libraries: **numpy, pandas, matplotlib, seaborn, duckdb**

In [3]:
import numpy as np
import pandas as pd

Load datasets

In [4]:
df_application = pd.read_csv('datasets/applications(2.0).csv')
df_industries = pd.read_csv('datasets/industries(2.0).csv')

**Exploratory Data Analysis**

In [5]:
df_application.head(10)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3
5,11.30.2022 10:27:38,16500.0,31,Чоловік,E-commerce,Single,8.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,f720bf9c5c4c3e10a8568c1699847696
6,11.30.2022 10:27:42,4200.0,30,Чоловік,Media,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,0aaf59fb3ef90f50ccd4800312e5c271
7,11.30.2022 10:27:44,3600.0,24,Чоловік,E-commerce,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,aa54d6e672e4233febadbafdfd048327
8,11.30.2022 10:28:00,1950.0,27,Чоловік,Automotive,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,2eed2883cd1673b21b2ce89d1115c245
9,11.30.2022 10:28:00,NaN,17,Чоловік,Інша,Married,2.0,Ще студент вишу,NaN,9c7a640dccb37d9f2164bac1deb0edfa

In [6]:
df_application.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13315 entries, 0 to 13314
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Applied at       13315 non-null  object
 1   Amount           13272 non-null  float64
 2   Age              13315 non-null  int64
 3   Gender           13315 non-null  object
 4   Industry         13315 non-null  object
 5   Marital status   13315 non-null  object
 6   External Rating  13243 non-null  float64
 7   Education level  13282 non-null  object
 8   Location         11540 non-null  object
 9   applicant_id     13315 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.0+ MB

In [7]:
df_application.describe(include='all')

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
count,13315,13272.000000,13315.000000,13315,13315,13315,13243.000000,13282,11540,13315
unique,10850,NaN,NaN,2,37,3,NaN,5,23,13278
top,12.07.2022 12:54,NaN,NaN,Чоловік,E-commerce,Married,NaN,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,4468a499e275b96988b2c7c7fbfc545b
freq,29,NaN,NaN,10219,2531,7354,NaN,10624,4407,11
mean,NaN,9034.665913,29.318288,NaN,NaN,NaN,4.882202,NaN,NaN,NaN
std,NaN,6168.343738,6.031209,NaN,NaN,NaN,3.738651,NaN,NaN,NaN
min,NaN,150.000000,14.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25%,NaN,3900.000000,25.000000,NaN,NaN,NaN,2.000000,NaN,NaN,NaN
50%,NaN,7800.000000,29.000000,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
75%,NaN,12900.000000,33.000000,NaN,NaN,NaN,7.000000,NaN,NaN,NaN
max,NaN,58500.000000,63.000000,NaN,NaN,NaN,15.000000,NaN,NaN,NaN

In [8]:
df_industries.head(10)

                       Industry  Score
0                    Blockchain      0
1  Public services / Government     20
2          Adtech / Advertising     10
3                       Telecom     15
4                    Automotive     15
5                    E-commerce     15
6                         Media      5
7                          Інша     10
8                        Dating      5
9            Edtech / Education     15

In [9]:
df_industries.info()
print(f'Values in Industry column:\n {df_industries["Industry"].values}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Industry  37 non-null     object
 1   Score     37 non-null     int64
dtypes: int64(1), object(1)
memory usage: 724.0+ bytes
Values in Industry column:
 ['Blockchain' 'Public services / Government' 'Adtech / Advertising'
 'Telecom' 'Automotive' 'E-commerce' 'Media' 'Інша' 'Dating'
 'Edtech / Education' 'Legal' 'Big Data' 'Logistics' 'Data Science'
 'Fintech / Banking' 'Mobile' 'Insurance' 'ERP' 'Gambling'
 'Machine Learning' 'Agriculture' 'GameDev' 'Medtech / Healthcare'
 'Cloud Computing' 'Embedded' 'Travel' 'Security' 'Retail' 'Manufacturing'
 'Hardware' 'High Load Systems' 'Uberfication' 'Real Estate'
 'Internet of Things' 'Geospatial' 'AR/VR' 'Robotics']

Cleaning dataset

In [10]:
df_application_cleaned = df_application.copy()
df_application_cleaned = pd.merge(df_application_cleaned, df_industries, left_on='Industry', right_on='Industry', how='left')
df_application_cleaned = pd.DataFrame(df_application_cleaned).rename(columns={'Applied at': 'applied_at',
                                                     'Amount': 'amount',
                                                     'Age': 'age',
                                                     'Gender': 'gender',
                                                     'Industry': 'industry',
                                                     'Marital status': 'marital_status',
                                                     'External Rating': 'external_rating',
                                                     'Education level': 'education_level',
                                                     'Location': 'location',
                                                     'Score': 'score'})

df_application_cleaned['applicant_id'] = df_application_cleaned['applicant_id'].drop_duplicates().reset_index(drop=True)
df_application_cleaned['applied_at'] = df_application_cleaned['applied_at'].astype("datetime64[s]")
df_application_cleaned = df_application_cleaned[['applicant_id', 'applied_at', 'amount', 'age', 'gender', 'marital_status', 'education_level', 'industry', 'external_rating', 'location', 'score']]
df_application_cleaned['external_rating'] = df_application_cleaned['external_rating'].fillna(0).astype(float)
df_application_cleaned['education_level'] = df_application_cleaned['education_level'].fillna('Середня')
df_application_cleaned['location'] = df_application_cleaned['location'].fillna('Unknown')
df_application_cleaned['amount'] = df_application_cleaned['amount'].fillna(0).astype(float)

In [11]:
print(df_application_cleaned['applied_at'].value_counts().index)

DatetimeIndex(['2022-12-07 12:54:00', '2022-12-07 12:56:00',
               '2022-12-07 12:57:00', '2022-12-07 12:55:00',
               '2022-12-07 12:58:00', '2022-12-07 12:59:00',
               '2022-12-07 13:01:00', '2022-12-07 13:07:00',
               '2022-12-07 13:00:00', '2022-12-07 13:03:00',
               ...
               '2022-12-04 22:04:00', '2022-12-04 22:06:00',
               '2022-12-04 22:10:00', '2022-12-04 22:17:00',
               '2022-12-04 22:18:00', '2022-12-04 22:23:00',
               '2022-12-04 22:35:00', '2022-12-04 22:36:00',
               '2022-12-04 22:49:00', '2023-01-09 11:38:00'],
              dtype='datetime64[s]', name='applied_at', length=10850, freq=None)

In [12]:
df_application_cleaned.head()

,applicant_id,applied_at,amount,age,gender,marital_status,education_level,industry,external_rating,location,score
0,99e7b0dc6cc05dd334d8f38dc26ce9b3,2022-11-30 10:26:37,12000.0,29,Чоловік,Other,"Вища (бакалавр, спеціаліст, магістр)",Blockchain,8.0,Івано-Франківськ чи область,0
1,63dfcf8e6904186650d6814279fbe42f,2022-11-30 10:26:39,0.0,36,Чоловік,Single,"Вища (бакалавр, спеціаліст, магістр)",Public services / Government,3.0,Unknown,20
2,10dbafaeb46c09e96b6987c03bbb3498,2022-11-30 10:26:58,7500.0,34,Чоловік,Single,"Вища (бакалавр, спеціаліст, магістр)",Adtech / Advertising,4.0,Київ чи область,10
3,5847ac62cc9eac5e323c2517dcc91ad1,2022-11-30 10:27:31,1500.0,23,Жінка,Single,"Вища (бакалавр, спеціаліст, магістр)",Telecom,0.0,Львів чи область,15
4,5d21f3795b50de8e8f8f8d5f48b754f3,2022-11-30 10:27:34,8400.0,33,Жінка,Single,"Вища (бакалавр, спеціаліст, магістр)",Automotive,6.0,Житомир чи область,15

In [13]:
df_application_cleaned.isna().mean() * 100

applicant_id       0.277882
applied_at         0.000000
amount             0.000000
age                0.000000
gender             0.000000
marital_status     0.000000
education_level    0.000000
industry           0.000000
external_rating    0.000000
location           0.000000
score              0.000000
dtype: float64

Adding rating column

In [14]:
df_application_cleaned['rating'] = int(0)

def age_rating(row) -> int:
    '''Function to calculate rating based on age'''
    if 35 < row['age'] < 55:
        return 20
    else:
        return 0

def weekend_rating(row) -> int:
    '''Function to calculate rating based on application day'''
    if row['applied_at'].dayofweek >=5:
        return 0
    else:
        return 20

def martial_status_rating(row) -> int:
    '''Function to calculate rating based on marital status'''
    if row['marital_status'] == 'Married':
        return 20
    else:
        return 0

def location_rating(row) -> int:
    '''Function to calculate rating based on location'''
    if row['location'] == 'Київ чи область':
        return 20
    else:
        return 0

def score_rating(row) -> int:
    '''Function to calculate rating based on score'''
    return row['score']

def external_rating_rating(row) -> int:
    '''Function to calculate rating based on external rating'''
    if row['external_rating'] >= 7:
        return 20
    elif row['external_rating'] <= 2:
        return 20
    else:
       return 0

def zero_rating(row) -> int:
    '''Function to set rating to zero if amount is zero'''
    if row['amount'] == 0 or row['external_rating'] == 0:
        return 0
    else:
        return row['rating']

def bound_rating(row) -> int:
    '''Function to bound rating between 0 and 100'''
    if row['rating'] > 100:
        return 100
    elif row['rating'] < 0:
        return 0
    else:
        return row['rating']

func_list = [age_rating, weekend_rating, martial_status_rating, location_rating, score_rating, external_rating_rating]

def apply_ratings(row) -> int:
    '''Function to apply all rating functions'''
    rating = 0
    for func in func_list:
        rating += func(row)
    return rating

df_application_cleaned['rating'] = df_application_cleaned.apply(axis=1, func=apply_ratings)
df_application_cleaned['rating'] = df_application_cleaned.apply(axis=1, func=zero_rating)
df_application_cleaned['rating'] = df_application_cleaned.apply(axis=1, func=bound_rating)

In [15]:
df_application_cleaned.head()

,applicant_id,applied_at,amount,age,gender,marital_status,education_level,industry,external_rating,location,score,rating
0,99e7b0dc6cc05dd334d8f38dc26ce9b3,2022-11-30 10:26:37,12000.0,29,Чоловік,Other,"Вища (бакалавр, спеціаліст, магістр)",Blockchain,8.0,Івано-Франківськ чи область,0,40
1,63dfcf8e6904186650d6814279fbe42f,2022-11-30 10:26:39,0.0,36,Чоловік,Single,"Вища (бакалавр, спеціаліст, магістр)",Public services / Government,3.0,Unknown,20,0
2,10dbafaeb46c09e96b6987c03bbb3498,2022-11-30 10:26:58,7500.0,34,Чоловік,Single,"Вища (бакалавр, спеціаліст, магістр)",Adtech / Advertising,4.0,Київ чи область,10,50
3,5847ac62cc9eac5e323c2517dcc91ad1,2022-11-30 10:27:31,1500.0,23,Жінка,Single,"Вища (бакалавр, спеціаліст, магістр)",Telecom,0.0,Львів чи область,15,0
4,5d21f3795b50de8e8f8f8d5f48b754f3,2022-11-30 10:27:34,8400.0,33,Жінка,Single,"Вища (бакалавр, спеціаліст, магістр)",Automotive,6.0,Житомир чи область,15,35

The final dataset

In [16]:
df_final = df_application_cleaned[(df_application_cleaned['rating'] > 0)].copy().reset_index(drop=True)
df_final.head()

,applicant_id,applied_at,amount,age,gender,marital_status,education_level,industry,external_rating,location,score,rating
0,99e7b0dc6cc05dd334d8f38dc26ce9b3,2022-11-30 10:26:37,12000.0,29,Чоловік,Other,"Вища (бакалавр, спеціаліст, магістр)",Blockchain,8.0,Івано-Франківськ чи область,0,40
1,10dbafaeb46c09e96b6987c03bbb3498,2022-11-30 10:26:58,7500.0,34,Чоловік,Single,"Вища (бакалавр, спеціаліст, магістр)",Adtech / Advertising,4.0,Київ чи область,10,50
2,5d21f3795b50de8e8f8f8d5f48b754f3,2022-11-30 10:27:34,8400.0,33,Жінка,Single,"Вища (бакалавр, спеціаліст, магістр)",Automotive,6.0,Житомир чи область,15,35
3,f720bf9c5c4c3e10a8568c1699847696,2022-11-30 10:27:38,16500.0,31,Чоловік,Single,"Вища (бакалавр, спеціаліст, магістр)",E-commerce,8.0,Київ чи область,15,75
4,0aaf59fb3ef90f50ccd4800312e5c271,2022-11-30 10:27:42,4200.0,30,Чоловік,Married,"Вища (бакалавр, спеціаліст, магістр)",Media,1.0,Київ чи область,5,85

**Analysis: Average rating per week**

In [17]:
df_grouped = pd.DataFrame(df_final[['applied_at', 'rating']].reset_index(drop=True), columns=['applied_at', 'rating'])
df_grouped['year'] = df_grouped['applied_at'].dt.year
df_grouped['weeks'] = df_grouped['applied_at'].dt.isocalendar().week
df_grouped = df_grouped.groupby(['year', 'weeks'], as_index=False).agg({'rating': 'mean'})

In [18]:
df_grouped.head(25)

   year  weeks     rating
0  2022     48  61.263627
1  2022     49  62.921569
2  2022     50  63.211996
3  2022     51  59.486830
4  2022     52  63.655343
5  2023      1  63.420268
6  2023      2  53.125000
7  2023     52  46.071429